/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

/** {
	border: 2px solid black;
	box-sizing: border-box;
}*/

body {
	background: #fff url("../images/bgtile.png") repeat-x;
	font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

main {
	width: 880px;
	margin: 90px auto 0 auto;
	/*The autos on left and right make the margin automatically fill the space on both sides*/
}

.left {
	float: left;
}
.right {
	float: right;
	width: 500px;
}
.bottom {
	clear: both;
}
.bottom nav ul {
	list-style: none;
	text-align: center;
}
.bottom nav ul li {
	color: #999;
	display: inline;
}
.bottom nav ul li a {
	color: #1c5380;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin: 5px;
}
.bottom nav ul li a:hover {
	text-decoration: underline;
}
.text {
	background-image: url("../images/frame.png");
	background-size: contain;
	padding: 10px 40px;
	background-repeat: no-repeat;
}
div.text h2 {
	color: #06365f;
}