.center {
	text-align: center;
}
/*.center-height {
	vertical-align: middle;
}*/
/*img.float {
	float: left;
	margin-right: 30px;
}*/
body {
	background-color: #fcfcfc;
}
.card {
	border: 0;
}
.add-area {
	margin: 30px;
	width: 250px;
}
#pad {
	padding: 30px;
	background-size: contain;
}
.pad-more {
	padding: 40px;
}
.row{
	margin: 30px 0;
}
.small-font {
	font-size: 12px;
}
.reduce-size {
  max-width:50%;
  max-height:50%;
}
.reduce-size-less {
  max-width:75%;
  max-height:75%;
}
div.purple {
	background-color: #46237A;
}
div.magic {
	background-color: #FF495C;
}
div.blue {
	background-color: #449DD1;
}
div.green {
	background-color: #3DDC97;
}
.baby {
	color: #FCFCFC;
}



/*Media queries*/

@media only screen and (max-width: 768px){
	.disappear-when-small {
		display: none;
	}
}
@media only screen and (min-width: 768px){
	.disappear-when-big{
		display: none;
	}
}