.centre {
	text-align: center;
}
img.float {
	float: left;
	margin-right: 30px;
}
#pad {
	padding: 30px;
	background-size: contain;
}
@media only screen and (max-width: 500px){
	div.disappear {
		display: none;
	}
}
@media only screen and (min-width: 500px){
	nav.disappear{
		display: none;
	}
}