main {
	margin: 50px auto;
	height: 500px;
	width: 400px;
	border: 2px solid black;

}
#display {
	height: 80px;
	width: 380px;
	margin: 10px auto;
	border: 2px solid black;
	padding: auto 30px;
}

button {
	margin: 28px;
	font-size: 20px;
	line-height: 1.5;
	width: 40px;
}