body {
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-family: "Helvetica";
}
ul {
	width: 606px;
	height: 606px;
	margin: 20px auto;
	list-style-type: none;
	padding: 0;
	background-color: orange;
}
li {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
	float: left;
	margin: 1px;
	font-size: 50px;
	line-height: 200px;
	background-color: white;
}